<link rel="stylesheet" href="/css/components/authenticate/login.css">
<div class="login-section-container" id="login-section-container">
    <div class="login-section-banner" id="login-section-banner">

    </div>
    <div class="login-section-interact scrollable-section">
        <div class="login-section-content" id="login-section">
            <h1 class="form-title">Welcome back</h1>
            <form class="login-section-form" id="login-submit-form">
                <div class="form-element flex-column">
                    <label for="login-email" class="form-label">Email</label>
                    
                    <div class="inline-input-section">
                        <input type="text" id="login-email" class="form-input input-full-width" placeholder="Eg: example@eg.com">
                        <i class="fas fa-exclamation-circle icon-toggle" style="color:red" id="login-email-exclamation"></i>
                    </div>
                </div>
                <div class="form-element flex-column">
                    <label for="login-password" class="form-label">Password</label>
                    <div class="inline-input-section">
                        <input type="password" id="login-password" class="form-input input-full-width" placeholder="Your password">
                        <i class="far fa-eye-slash icon-toggle" id="login-password-toggle"></i>
                    </div>
                </div>
                <div class="form-element">
                    <button class="form-submit-btn" type="submit">
                        Login
                    </button>
                </div>
                <div class="text-center">
                    or use another account
                </div>
                <div class="form-oauth-login">
                    <div class="form-google-login text-black">
                        <i class="fab fa-google"></i>
                        <div class="login-inline-section text-black font-13px">
                            Signin with Google
                        </div>
                    </div>
                    <div class="form-facebook-login text-black">
                        <i class="fab fa-facebook"></i>
                        <div class="login-inline-section text-black font-13px">
                            Signin with Facebook
                        </div>
                    </div>
                </div>
            </form>
            <div class="login-text-section">
                Don't have any account ?
                <div class="login-inline-section" id="navigate-to-register-btn">
                    Create one
                </div>
            </div>
            <div class="login-text-section">
                Forgot your password ?
                <div class="login-inline-section">
                    Reset
                </div>
            </div>
        </div>
        <div class="register-section-content" id="register-section">
            <h1 class="form-title">Register now!</h1>
            <form class="login-section-form" id="register-submit-form">
                <div class="form-element flex-column">
                    <label for="register-username" class="form-label">Username</label>
                    <div class="inline-input-section">
                        <input type="text" id="register-username" class="form-input input-full-width" placeholder="Username">
                        <i class="fas fa-exclamation-circle icon-toggle" style="color:red"></i>
                    </div>
                </div>
                <div class="form-element flex-column">
                    <label for="register-email" class="form-label">Email</label>
                    <div class="inline-input-section">
                        <input type="text" id="register-email" class="form-input input-full-width" placeholder="Eg: example@eg.com">
                        <i class="fas fa-exclamation-circle icon-toggle" style="color:red"></i>
                    </div>
                </div>
                <div class="form-element flex-column">
                    <label for="register-password" class="form-label">Password</label>
                    <div class="inline-input-section">
                        <input type="password" id="register-password" class="form-input input-full-width" placeholder="Your password">
                        <i class="far fa-eye-slash icon-toggle" id="password-toggle"></i>
                    </div>
                </div>
                <div class="form-element flex-column">
                    <label for="register-confirm-password" class="form-label">Confirm your password</label>
                    <div class="inline-input-section">
                        <input type="password" id="register-confirm-password" class="form-input input-full-width" placeholder="Confirm password">
                        <i class="far fa-eye-slash icon-toggle" id="confirm-password-toggle"></i>
                    </div>
                </div>
                <div class="form-element">
                    <button class="form-submit-btn" type="submit">
                        Create
                    </button>
                </div>
                <div class="text-center">
                    or use another account
                </div>
                <div class="form-oauth-login">
                    <div class="form-google-login text-black">
                        <i class="fab fa-google"></i>
                        <div class="login-inline-section text-black font-13px">
                            Signup with Google
                        </div>
                    </div>
                    <div class="form-facebook-login text-black">
                        <i class="fab fa-facebook"></i>
                        <div class="login-inline-section text-black font-13px">
                            Signup with Facebook
                        </div>
                    </div>
                </div>
            </form>
            <div class="login-text-section">
                Already have an account ?
                <div class="login-inline-section" id="navigate-to-login-btn">
                    Login
                </div>
            </div>
        </div>
    </div>
</div>