<link rel="stylesheet" href="/css/components/authenticate/slash_page.css">
<div class="slash-page-container">
    <div class="slash-page-thumbnail">

    </div>
    <div class="slash-page-content">
        <div class="slash-page-title">
            Almost done!
        </div>
        <div class="slash-page-subtitle">
            Confirmation email has been sent to your email account, please confirm to complete your registeration!
        </div>
        <div style="margin:10% 0;font-weight: bold;">
            Or
        </div>
        <button class="slash-page-btn">
            <i class="fas fa-arrow-left"></i>
            <div>
                Go back
            </div>
        </button>
    </div>
</div>