<link rel="stylesheet" href="/css/components/advertisement_slide.css.map"/>
<div class="slide-fade-container">
    <div class="slide-fade-element">
        <p class="slide-fade-element-text">

        </p>
        <img src="/images/thumbnails/thumbnail1.jpg" alt="thumbnail1" class="slide-fade-element-thumbnail">
        <div class="slide-fade-background-image"></div>
        <div class="slide-fade-background"></div>
    </div>
    <div class="slide-fade-element">
        <p class="slide-fade-element-text">
            
        </p>
        <div class="slide-fade-background-image"></div>
        <img src="/images/thumbnails/thumbnail2.jpg" alt="thumbnail2" class="slide-fade-element-thumbnail">
        <div class="slide-fade-background"></div>
    </div>
    <div class="slide-fade-element">
        <p class="slide-fade-element-text">
            
        </p>
        <div class="slide-fade-background-image"></div>
        <div class="slide-fade-background"></div>
        <img src="/images/thumbnails/thumbnail3.jpg" alt="thumbnail3" class="slide-fade-element-thumbnail">
        <div class="slide-fade-background"></div>
    </div>
    <div class="slide-fade-element">
        <p class="slide-fade-element-text">
            
        </p>
        <div class="slide-fade-background-image"></div>
        <img src="/images/thumbnails/thumbnail3.jpg" alt="thumbnail4" class="slide-fade-element-thumbnail">
        <div class="slide-fade-background"></div>
    </div>
</div>
<script src="/js/slideshow.js"></script>