<link rel="stylesheet" href="/css/components/homepage/introduction.css"/>
<div class="introduction-container">
    <div id="slideshow">
        <div>
            <img src="/images/thumbnails/intro1.jpg" style="height: 500px;">
        </div>
        <div>
            <img src="/images/thumbnails/intro2.jpg" style="height: 500px;">
        </div>
        <div>
            <img src="/images/thumbnails/intro3.jpg" style="height: 500px;">
        </div>
    </div>
    <div class="introduction-section">
        <div class="introduction-section-title font-40">
            About us
        </div>
        <div class="introduction-section-icon">
            <img src="/images/icons/icon1.svg" alt="icon" style="width:40px">
        </div>
        <div class="introduction-section-text-subscription text-italic font-bold pd-rl-20">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
        </div>
        <div class="introduction-section-title font-30 mtb-20">
            Welcome to our restaurant
        </div>
        <div class="introduction-section-text-subscription">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
        </div>
        <div id="services" style="margin-top: 100px;"></div>
    </div>
</div>
