<link rel="stylesheet" href="/css/components/homepage/product_item.css"/>
<div class="product-item-container">
    <div class="product-item-image">
        <img class="product-item-image-size" src="/images/product-images/tomatoes.webp" alt="">
    </div>
    <div class="product-item-information-container">
        <div class="product-item-title">Tomato</div>
        <p class="product-item-desc">Description of the product</p>
        <div class="product-item-pricing">
            <div class="product-item-pricing-container">
                <div class="product-item-pricing-price">20$</div>
                <div class="product-item-pricing-sale-price">40$</div>
            </div>
            <button class="product-item-pricing-btn">Add to cart</button>
        </div>
    </div>
</div>