<link rel="stylesheet" href="/css/components/homepage/product_view_section.css" />
<div class="product-view-container">
    <div class="product-view-close-button">
        <img src="/images/icons/x-lg.svg" style="width:25px;height:25px" alt="close">
    </div>
    <div class="product-view-thumbnail-container">
        <img src="/images/product-images/tomatoes.webp" alt="product" class="product-view-thumbnail-image">
    </div>
    <div class="product-view-description-container">
        <div class="product-view-description-name">Tomatoes</div>
        <div class="product-view-description-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
        </div>
        <div class="product-view-description-price-container">
            <div class="product-view-description-price">
                $20
            </div>
            <div class="product-view-description-price-sale">
                $40
            </div>
        </div>
        <div class="product-view-description-button-group">
            <div class="product-view-description-button-change-group">
                <input class="product-view-description-button-change-value">
                <div class="product-view-description-button-arrow-group">
                    <div class="product-view-description-button-change-decrease"><img src="images/icons/caret-up-fill.svg" style="width:10px;height:10px" alt="up"/></div>
                    <div class="product-view-description-button-change-increase"><img src="images/icons/caret-down-fill.svg" style="width:10px;height:10px" alt="down"/></div>
                </div>
            </div>
            <button class="product-view-description-button-add">Add to cart</button>
        </div>
    </div>
</div>
<script src="/js/productViewSection.js"></script>