<div class="recipe-card-container">
    <div class="recipe-card-background"></div>
    <div class="recipe-card-background-color"></div>
    <div class="recipe-card-description">
        <div class="recipe-card-subtitle">Pizza</div>
        <div class="recipe-card-title">Pepperoni</div>
        <p class="recipe-card-desc">
            When you think of pepperoni, most likely you think of one thing: pizza. And with good reason, since pepperoni is by far the most popular pizza topping. But what exactly is pepperoni? 
        </p>
        <button style="padding:5px 5px 5px 10px;" class="recepies-view-button">View Recipe<image style="margin-left: 10px;" src="/images/icons/caret-right.svg"/></button>
    </div>
</div>