<link rel="stylesheet" type="text/css" href="/css/components/homepage/recepies_list.css"/>
<link rel="stylesheet" href="/css/components/homepage/recipe_card.css" type="text/css">
<div class="recipes-list-container">
    <div class="recipes-title">
        Make it at home
    </div>
    <div class="recipes-list">
        <%- include('./recipeCard.ejs') %>
        <%- include('./recipeCard.ejs') %>  
        <%- include('./recipeCard.ejs') %>
    </div>
</div>