<link rel="stylesheet" href="/css/components/layouts/confirmation_modal.css">
<div class="confirmation-modal-container" id="confirmation-modal-container">
    <div class="confirmation-modal-content" id="confirmation-modal-content">
        <div class="confirmation-modal-title" id="confirmation-modal-title">
            Confirmation
        </div>
        <div class="confirmation-modal-subtitle" id="confirmation-modal-subtitle">
        </div>
        <div class="confirmation-modal-btn-container" id="confirmation-modal-btn-container">
        </div>
    </div>
</div>