<link rel="stylesheet" href="/css/components/layouts/confirmation_modal.css">
<div class="confirmation-modal-container">
    <div class="confirmation-modal-content">
        <div class="confirmation-modal-title">
            Confirmation
        </div>
        <div class="confirmation-modal-subtitle">
            Do you really want to log out?
        </div>
        <div class="confirmation-modal-btn-container">
            <div class="confirmation-modal-btn-btn">
                Yes
            </div>
            <div class="confirmation-modal-btn-btn">
                No
            </div>
        </div>
    </div>
</div>