<link rel="stylesheet" href="/css/components/layouts/footer.css">
<div class="footer-container">
    <div class="footer-background"></div>
    <div class="footer-background-color"></div>
    <div class="footer-list-container">
        <div class="footer-list">
            <div class="footer-list-element">
                <div class="footer-list-element-title">
                    Get in touch
                </div>
                <div class="footer-list-element-item">
                    About us
                </div>
                <div class="footer-list-element-item">
                    Careers
                </div>
                <div class="footer-list-element-item">
                    Blog
                </div>
            </div>
        </div>
        <div class="footer-list">
            <div class="footer-list-element">
                <div class="footer-list-element-title">
                    Connection
                </div>
                <div class="footer-list-element-item">
                    Facebook
                </div>
                <div class="footer-list-element-item">
                    Twitter
                </div>
                <div class="footer-list-element-item">
                    Instagram
                </div>
                <div class="footer-list-element-item">
                    Youtube
                </div>
                <div class="footer-list-element-item">
                    Linkedin
                </div>
            </div>
        </div>
        <div class="footer-list">
            <div class="footer-list-element">
                <div class="footer-list-element-title">
                    Earnings
                </div>
                <div class="footer-list-element-item">
                    Sell on market
                </div>
                <div class="footer-list-element-item">
                    Advertise your product
                </div>
            </div>
        </div>
        <div class="footer-list">
            <div class="footer-list-element">
                <div class="footer-list-element-title">
                    Account
                </div>
                <div class="footer-list-element-item">
                    Your account
                </div>
                <div class="footer-list-element-item">
                    Return centre
                </div>
                <div class="footer-list-element-item">
                    100% percent protection
                </div>
                <div class="footer-list-element-item">
                    Chat with us
                </div>
                <div class="footer-list-element-item">
                    Help
                </div>
            </div>
        </div>
    </div>
    <%- include('./tagList.ejs') %>
</div>