<link rel="stylesheet" href="/css/components/layouts/loader.css">
<section class="spinner-container" id="spinner-container">
    <div class="loader-edge">
        <div>
            <span class="one h6"></span>
            <span class="two h3"></span>
        </div>
    </div>
    <div class="loader-edge">
        <div>
            <span class="one h1"></span>
            <span class="two h4"></span>
        </div>
    </div>
    <div class="loader-edge">
        <div>
            <span class="one h5"></span>
            <span class="two h2"></span>
        </div>
    </div>
  </section>