<link rel="stylesheet" href="/css/components/layouts/navigation_bar.css">
<div class="navigation-bar-container" id="navigation-bar-container">
    <a class="navigation-bar-logo-section" href="/page/index">
        <img src="/images/icons/navigation-logo.jpg" alt="Logo" class="navigation-bar-logo">
    </a>
    <div class="navigation-bar-navigate-section">
        <a href="/page/index" class="navigation-bar-navigate-item">
            Home
        </a>
        <a href="/page/discount" class="navigation-bar-navigate-item">
            Discount
        </a>
        <a href="/page/index#main-dishes" class="navigation-bar-navigate-item">
            Main Dishes
        </a>
        <a href="/page/index#services" class="navigation-bar-navigate-item">
            Services
        </a>
        <a href="/page/index#about-us" class="navigation-bar-navigate-item">
            About Us
        </a>
    </div>
    <div class="navigation-bar-user-section">
        <div class="header-customer-navigation-profile"><i class="fas fa-user"></i></div>   
        <a href="/page/checkout/1234567891" class="header-customer-navigation-cart"><i class="fas fa-clipboard-list"></i></a>
    </div>
    <div class="navigation-bar-search-section">
        <img src="/images/icons/search.svg">
    </div>
</div>