<link rel="stylesheet" href="/css/components/layouts/notification_toast.css" type="text/css">
<div class="notification-toast-container" id="notification-toast-container">
    <div class="notification-toast-content" id="notification-toast-content">Too large or too small quantity, please change quantity between 1 and 100</div>
    <i class="fas fa-times notification-toast-close-btn" id="notification-toast-close-btn"></i>
</div>