<link rel="stylesheet" href="/css/components/layouts/order_dish_toast.css" type="text/css">
<div class="order-dish-toast-container" id="order-dish-toast-container">
    <div class="order-dish-toast-status">
        Added to order list!
    </div>
    <i class="fas fa-times" id="close-toast-btn" style="position:absolute;top: 10px;right: 10px;"></i>
    <div class="order-dish-toast-body pd-b-0 font-14">
        <div class="order-dish-toast-thumbnail-spacing">

        </div>
        <strong class="order-dish-toast-title">
            Title
        </strong>
        <strong class="order-dish-toast-quantity">
            Quantity
        </strong>
        <strong class="order-dish-toast-price">
            Price
        </strong>
        <strong class="order-dish-toast-total">
            Total
        </strong>
    </div>
    <hr style="margin-bottom: 0;">

    <div id="order-dish-toast-list">
        
    </div>
</div>