<link rel="stylesheet" href="/css/components/layouts/order_list.css">
<div class="order-list-container" id="order-list-container">
    <i class="fas fa-times order-list-close-btn" id="order-list-close-btn"></i>
    <div class="order-list-header">
        Order List
    </div>
    <div class="order-list-card h-30">
        <div class="order-list-thumbnail">

        </div>
        <strong class="order-list-title text-left">
            Title
        </strong>
        <strong class="order-list-quantity-section">
            Quantity
        </strong>
        <strong class="order-list-price">
            Price
        </strong>
        <strong class="order-list-total-item-price">
            Total
        </strong>
    </div>
    <div class="order-list-table" id="order-list-table">
        
    </div>
    <div class="order-list-footer">
        <div class="order-list-total-section">
            <div class="order-list-total-group">
                <strong>
                    Total order items: 
                </strong>
                <div class="order-list-items" id="order-list-items">
                    
                </div>
            </div>
            <div class="order-list-total-group">
                <strong>
                    Total order amount: 
                </strong>   
                <div class="order-list-total-amount" id="order-list-total-amount">
                    
                </div>
            </div>
        </div>
        <a href="/page/checkout/1234567891" class="order-list-redirect-btn">Checkout</a>
    </div>
</div>