<div class="tag-list-container">
    <div class="tag-list-title">
        Product tags :
    </div>
    <div class="tag-item-container">
        <div class="tag-pair">
            <div class="tag-item">Meat</div>
            <div class="tag-item">Wine</div>
        </div>
        <div class="tag-pair">
            <div class="tag-item">Fruit</div>
            <div class="tag-item">Vegetable</div>
        </div>
        <div class="tag-pair">
            <div class="tag-item">Oil</div>
            <div class="tag-item">Noodles</div>
        </div>
        <div class="tag-pair">
            <div class="tag-item">Rice</div>
            <div class="tag-item">Fish</div>
        </div>
        <div class="tag-pair">
            <div class="tag-item">Chicken</div>
            <div class="tag-item">Flower</div>
        </div>
        <div class="tag-pair">
            <div class="tag-item">Candle</div>
            <div class="tag-item">Mushroom</div>
        </div>
        <div class="tag-pair">
            <div class="tag-item">Milk</div>
            <div class="tag-item">Sea foods</div>
        </div>
    </div>
    <div class="contact" style="display: flex;font-size: 14px;margin-top: 15px;color: white;justify-content: space-between;">
        <div class="header-contact-phone" style="color:white">khoiered@beex.asia</div>
        <div class="header-navigation-blog" style="color: white">256 Ly Tu Trong, Ninh Kieu, Can Tho</div>
    </div>
</div>