<link rel="stylesheet" href="/css/components/layouts/user_detail.css">
<div class="user-detail-container">
    <%if(!user){%>
        You didn't login currently, login with some sample account below
    <%}else{%>
    <div class="user-detail-username">

    </div>
    <div class="user-detail-balance-area">
        <strong class="user-detail-subtitle">
            balance
        </strong>
        <div class="user-detail-balance">
            
        </div>
    </div>
    <%}%>
</div>