<link rel="stylesheet" href="/css/components/discount/banner.css">
<div class="discount-banner-container">
    <div class="discount-banner-slide-section" id="discount-slideshow">
        <div style="background-image: url(/images/banners/long-1.jpg);" class="discount-banner-slide-element">
        </div>  
        <div style="background-image: url(/images/banners/long-2.jpg);" class="discount-banner-slide-element">
        </div>
        <div style="background-image: url(/images/banners/long-3.jpg);" class="discount-banner-slide-element">
        </div>
    </div>
    <div class="discount-banner-right-section">
        <div class="discount-banner-flex-element">
            <div class="discount-banner-element" style="background-image: url(/images/banners/long-7.jpg);">

            </div>
            <div class="discount-banner-element" style="background-image: url(/images/banners/long-5.jpg);">

            </div>
        </div>
        <div class="discount-banner-flex-element">
            <div class="discount-banner-element" style="background-image: url(/images/banners/long-6.jpg);">

            </div>
            <div class="discount-banner-element" style="background-image: url(/images/banners/long-4.jpg);">

            </div>
        </div>
    </div>
</div>