.slide-fade{
    &-container{
        position: absolute;
        max-width: 1000px;
        margin-left: -50px;
        top:-50px;
        z-index: 0;
    }
    &-element{
        display: none;
        -webkit-animation-name: fade4;
        -webkit-animation-duration: 1.5s;
        animation-name: fade4;
        animation-duration: 1.5s;
        &-thumbnail{
            width: 100vw;
            // height: 50vh;
            vertical-align: middle;
        }
    }
    @-webkit-keyframes fade4 {
        from {opacity: .4} 
        to {opacity: 1}
    }
    
    @keyframes fade4 {
        from {opacity: .4} 
        to {opacity: 1}
    }
    &-background{
        position: relative;
        background-color: black;
        opacity: .6;
        width: 100vw;
        top:-100vw;
    }
}