<link rel="stylesheet" href="/css/components/checkout/order_item_list.css"/>
<div class="order-item-list-container" id="order-item-list-container">
    <div class="order-item-list-empty-notification" id="order-item-list-empty-notification">You didn't order any dish, let's back and order</div>
</div>