<link rel="stylesheet" href="/css/components/checkout/payment.css">
<div class="payment-container">
    <div class="payment-title">
        Your Information
    </div>
    <form class="payment-form">
        <div class="payment-column">
            <label class="payment-label" for="payment-name">
                Name
            </label>
            <input type="text" id="payment-name" class="payment-input">
        </div>
        <div class="payment-row">
            <div class="payment-column width-48-p">
                <label class="payment-label" for="payment-level">
                    Level
                </label>
                <input type="text" id="payment-level" class="payment-input">
            </div>
            <div class="payment-column width-48-p">
                <label class="payment-label" for="payment-street">
                    Street
                </label>
                <input type="text" id="payment-street" class="payment-input">
            </div>
        </div>
        <div class="payment-row">
            <div class="payment-column width-48-p">
                <label class="payment-label" for="payment-district">
                    District
                </label>
                <input type="text" id="payment-district" class="payment-input">
            </div>
            <div class="payment-column width-48-p">
                <label class="payment-label" for="payment-city">
                    City/Province
                </label>
                <input type="text" id="payment-city" class="payment-input">
            </div>
        </div>
        <div class="payment-column">
            <label class="payment-label" for="payment-phone">
                Phone
            </label>
            <input type="text" id="payment-phone" class="payment-input">
        </div>
        <div class="payment-column mt-20">
            <label class="payment-label" for="payment-email">
                Email
            </label>
            <input type="email" id="payment-email" class="payment-input">
        </div>
        <div class="payment-btn-group">
            <div class="payment-row mt-40">
                <button type="button" class="payment-btn payment-btn-reset width-48-p">
                    Reset
                </button>
                <button type="submit" class="payment-btn payment-btn-order width-48-p">
                    Order Now
                </button>
            </div>
        </div>
    </form>
</div>