.category-list{
    &-container{
        width:13%;
        line-height: 1.8rem;
        padding:3%;
        box-shadow: 0 0 5px 0 #151515;
        max-height: 1080px;
    }
    &-item{
        &-root{
            font-size:20px;
            font-weight: bold;
            color:darkgreen;
            margin:2% 0;
            cursor: pointer;
        }
        &:visited{
            color:darkgreen;
        }
        &-component{
            font-size:17px;
            color:darkgreen;
            margin-left:15%;
            cursor: pointer;
            text-decoration: none;
        }
    }
    &-navigator{
        color:darkgreen;
        text-decoration: none;
        &:visited{
            color:darkgreen;
        }
        &-root{
            color:darkgreen;
            &:visited{
                color:darkgreen;
            }
        }
    }
}
