<link rel="stylesheet" href="/css/components/dish/review_section.css">
<div class="review-section-container">
    <div class="review-section-title-container">
        <div class="review-section-title border-bot ml-20-p" id="review-section-title-desc">
            Description
        </div>
        <div class="review-section-title" id="review-section-title-info">
            Additional information
        </div>
        <div class="review-section-title mr-20-p" id="review-section-title-review">
            Review
        </div>
    </div>
    <div class="review-section-description-container">
        <div class="review-section-description">
            Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
        </div>
    </div>
    <div class="review-section-additional-section">
        <div class="review-section-additional-flex">
            <div class="review-section-additional-title">
                Ingredients:
            </div>
            <div class="review-section-additional-detail">
                Flour, Meat, Cheese, Tomato, Mushroom, Spicy sauces,...
            </div>
        </div>
        <div class="review-section-additional-flex">
            <div class="review-section-additional-title">
                Total Calories:
            </div>
            <div class="review-section-additional-detail">
                500kcal
            </div>
        </div>
    </div>
    <div class="review-section-review-container">
        <div class="review-section-review-card">
            <div class="review-section-review-reviewer-email">
                Jane@gmail.com
            </div>
            <div class="review-section-review-reviewer-comment">
                It's so tasty, It reminds me of the dish my grandmother cooked for me when I was a kid.
            </div>
            <div class="review-section-review-reviewer-date">
                May, 16th 2021
            </div>
        </div>
        <div class="review-section-review-card">
            <div class="review-section-review-reviewer-email">
                Scott@gmail.com
            </div>
            <div class="review-section-review-reviewer-comment">
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt
            </div>
            <div class="review-section-review-reviewer-date">
                July, 1st 2021
            </div>
        </div>
    </div>
</div>