<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="shortcut icon" href="/images/icons/logo.jpg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="authenticate-container" style="width: 100%;height: 100vh;background-color: lightgray;">
        <%- include('../libs/authenticate/login.ejs') %>
        <%- include('../libs/authenticate/slashPage.ejs') %>
        <%- include('../libs/layouts/notificationToast.ejs') %>
        <%- include('../libs/layouts/loader.ejs') %>
    </div>
    <script src="/js/authentication.js"></script>
</body>
</html>