@keyframes hide-page{
    from{
        opacity: 1;
        left: 50%;
    }
    to{
        opacity: 0;
        left: 20%;
    }
}

@-webkit-keyframes hide-page{
    from{
        opacity: 1;
        left: 50%;
    }
    to{
        opacity: 0;
        left: 20%;
    }
}

@keyframes show-page {
    from{
        opacity: 0;
        left: 20%;
    }
    to{
        opacity: 1;
        left: 50%;
    }
}

@-webkit-keyframes show-page{
    from{
        opacity: 0;
        left: 20%;
    }
    to{
        opacity: 1;
        left: 50%;
    }
}

.section-show{
    display: flex !important;
    -webkit-animation-name: show-page;
    animation-name: show-page;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.section-hide{
    -webkit-animation-name: hide-page;
    animation-name: hide-page;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.slash-page-container{
    display: none;
    width: 53rem;
    height: 35rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 5px 0;
}

.slash-page-content{
    background-color: white;
    width: 33%;
    padding: 13% 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slash-page-thumbnail{
    width: 67%;
    background-image: url('/images/thumbnails/login-succeeded.jpg');
    background-size: cover;
}

.slash-page-title{
    font-size: 35px;
    font-weight: bold;
    color: darkgreen;
    margin-bottom: 50px;
}

.slash-page-btn{
    display: flex;
    padding: 20px 40px;
    transition: .5s;
    border: 1px solid darkgreen;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    background-color: white;
    color: darkgreen;
    cursor: pointer;
}

.slash-page-btn:hover{
    color: white;
    background-color: darkgreen;
}